<a href="https://colab.research.google.com/github/sowmyarshetty/neural-network-challenge-2/blob/main/attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1: Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [ ]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [ ]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition','Department']]

In [ ]:
# Create a list of at least 10 column names to use as X data
selected_columns = ['Age','Education','DistanceFromHome','JobSatisfaction','OverTime','StockOptionLevel','WorkLifeBalance','YearsAtCompany','YearsSinceLastPromotion','NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[selected_columns]


# Show the data types for X_df
X_df.dtypes

Age                         int64
Education                   int64
DistanceFromHome            int64
JobSatisfaction             int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
NumCompaniesWorked          int64
dtype: object

In [ ]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_df['OverTime'].value_counts()
X_df['OverTime'] = X_df['OverTime'].replace({'Yes':1,'No':0})
X_df['OverTime'].value_counts()

<ipython-input-33-21050fb0a023>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_df['OverTime'] = X_df['OverTime'].replace({'Yes':1,'No':0})
<ipython-input-33-21050fb0a023>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_df['OverTime'] = X_df['OverTime'].replace({'Yes':1,'No':0})

OverTime
0    1054
1     416
Name: count, dtype: int64

In [ ]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_df,y_df,random_state=42)

In [ ]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train_scaled = scaler.fit_transform(X_train)

# Scale the training and testing data
X_test_scaled = scaler.transform(X_test)

In [ ]:
y_df['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [ ]:
y_df["Department"].value_counts()

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
ohedept = OneHotEncoder(sparse_output=False)
# Fit the encoder to the training data
# Create two new variables by applying the encoder
# to the training and testing data

y_train_dept = y_train[["Department"]]
y_test_dept = y_test[["Department"]]


y_train_dept_encoded = ohedept.fit_transform(y_train_dept)
dept_column_names = ohedept.get_feature_names_out(['Department'])

y_test_dept_encoded = ohedept.transform(y_test_dept)

#y_train_dept_encoded

In [ ]:
# Create a OneHotEncoder for the Attrition column
oheattr = OneHotEncoder(sparse_output=False)
y_train_attr = y_train[["Attrition"]]
y_test_attr = y_test[["Attrition"]]

# Fit the encoder to the training data
y_train_attr_encoded = oheattr.fit_transform(y_train_attr)
attr_column_names = oheattr.get_feature_names_out(['Attrition'])
y_test_attr_encoded = oheattr.transform(y_test_attr)

## Part 2: Create, Compile, and Train the Model

In [ ]:
# Find the number of columns in the X training data.
input_shape = X_train_scaled.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(input_shape,),name="input_features")

# Create at least two shared layers
shared_layer1 = layers.Dense(64,activation='relu')(input_layer)
shared_layer2 = layers.Dense(32,activation='relu')(shared_layer1)

In [ ]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
hidden_layer_dept = layers.Dense(16,activation='relu')(shared_layer2)

# Create the output layer
dept_output = layers.Dense(3, activation='softmax', name='dept_output')(hidden_layer_dept)

In [ ]:
# Create a branch for Attrition
# with a hidden layer and an output layer
hidden_layer_attr = layers.Dense(16,activation='relu')(shared_layer2)

# Create the hidden layer
attr_output = layers.Dense(2, activation='sigmoid', name='attr_output')(hidden_layer_attr)

# Create the output layer

In [ ]:
# Create the model
model = Model(inputs=input_layer, outputs=[dept_output, attr_output])

# Compile the model
model.compile(optimizer="adam", loss={"dept_output" : "categorical_crossentropy",
                                      "attr_output" : "binary_crossentropy"},
              metrics={"dept_output" : "accuracy",
                       "attr_output" : "accuracy"})



# Summarize the model

model.summary()

Model: "functional_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)              ┃ Output Shape           ┃        Param # ┃ Connected to           ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━┩
│ input_features            │ (None, 10)             │              0 │ -                      │
│ (InputLayer)              │                        │                │                        │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dense_23 (Dense)          │ (None, 64)             │            704 │ input_features[0][0]   │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dense_24 (Dense)          │ (None, 32)             │          2,080 │ dense_23[0][0]         │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dense_25 (Dense)          │ (None, 16)             │            528 │ dense_24[0][0]         │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dense_27 (Dense)          │ (None, 16)             │            528 │ dense_24[0][0]         │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ dept_output (Dense)       │ (None, 3)              │             51 │ dense_25[0][0]         │
├───────────────────────────┼────────────────────────┼────────────────┼────────────────────────┤
│ attr_output (Dense)       │ (None, 2)              │             34 │ dense_27[0][0]         │
└───────────────────────────┴────────────────────────┴────────────────┴────────────────────────┘

 Total params: 3,925 (15.33 KB)

 Trainable params: 3,925 (15.33 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Train the model
# Fit the model
model.fit(X_train_scaled, {"dept_output" : y_train_dept_encoded, "attr_output" : y_train_attr_encoded},
          epochs=10,
          batch_size=32,
          validation_split=0.2)

Epoch 1/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - attr_output_accuracy: 0.8311 - attr_output_loss: 0.4532 - dept_output_accuracy: 0.6530 - dept_output_loss: 0.7550 - loss: 1.2079 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5284 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8534 - val_loss: 1.3847
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - attr_output_accuracy: 0.8475 - attr_output_loss: 0.4161 - dept_output_accuracy: 0.6693 - dept_output_loss: 0.7109 - loss: 1.1270 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5281 - val_dept_output_accuracy: 0.6018 - val_dept_output_loss: 0.8518 - val_loss: 1.3829
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - attr_output_accuracy: 0.8442 - attr_output_loss: 0.4284 - dept_output_accuracy: 0.6788 - dept_output_loss: 0.7056 - loss: 1.1340 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5257 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8479 - val_loss: 1.3765
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step - attr_output_accuracy: 0.8302 - attr_output_loss: 0.4496 - dept_output_accuracy: 0.6500 - dept_output_loss: 0.7340 - loss: 1.1837 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5301 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8642 - val_loss: 1.3975
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attr_output_accuracy: 0.8328 - attr_output_loss: 0.4451 - dept_output_accuracy: 0.6780 - dept_output_loss: 0.6898 - loss: 1.1347 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5301 - val_dept_output_accuracy: 0.5882 - val_dept_output_loss: 0.8551 - val_loss: 1.3884
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attr_output_accuracy: 0.8503 - attr_output_loss: 0.4150 - dept_output_accuracy: 0.6957 - dept_output_loss: 0.6602 - loss: 1.0750 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5266 - val_dept_output_accuracy: 0.5928 - val_dept_output_loss: 0.8568 - val_loss: 1.3865
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attr_output_accuracy: 0.8245 - attr_output_loss: 0.4419 - dept_output_accuracy: 0.6739 - dept_output_loss: 0.7059 - loss: 1.1479 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5273 - val_dept_output_accuracy: 0.6018 - val_dept_output_loss: 0.8633 - val_loss: 1.3938
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attr_output_accuracy: 0.8389 - attr_output_loss: 0.4225 - dept_output_accuracy: 0.6543 - dept_output_loss: 0.6917 - loss: 1.1143 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5282 - val_dept_output_accuracy: 0.6018 - val_dept_output_loss: 0.8659 - val_loss: 1.3974
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attr_output_accuracy: 0.8384 - attr_output_loss: 0.4206 - dept_output_accuracy: 0.6894 - dept_output_loss: 0.6649 - loss: 1.0857 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5290 - val_dept_output_accuracy: 0.6063 - val_dept_output_loss: 0.8643 - val_loss: 1.3965
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attr_output_accuracy: 0.8491 - attr_output_loss: 0.4132 - dept_output_accuracy: 0.6680 - dept_output_loss: 0.7023 - loss: 1.1153 - val_attr_output_accuracy: 0.7873 - val_attr_output_loss: 0.5290 - val_dept_output_accuracy: 0.5973 - val_dept_output_loss: 0.8725 - val_loss: 1.4047

In [ ]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test_scaled, {'dept_output': y_test_dept_encoded, 'attr_output': y_test_attr_encoded})

print(f"Total Loss: {test_results[0]:.4f}")
print(f"Department Loss: {test_results[1]:.4f}")
print(f"Attrition Loss: {test_results[2]:.4f}")

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attr_output_accuracy: 0.8492 - attr_output_loss: 0.4519 - dept_output_accuracy: 0.6311 - dept_output_loss: 0.8380 - loss: 1.2874
Total Loss: 1.2638
Department Loss: 0.8652
Attrition Loss: 0.4147

In [ ]:
# Print the accuracy for both department and attrition
print(f"Department Accuracy: {test_results[3]:.4f}")
print(f"Attrition Accuracy: {test_results[4]:.4f}")

Department Accuracy: 0.8696
Attrition Accuracy: 0.6495

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Since our attrition dataset is imbalanced with few "yes" cases and far more "no"cases, accuracy may not give us the true picture.  Metrics like precision,recall and F1 score will provide better understanding .  For multi-class classification (department prediction), accuracy can be useful alongwith confusion matrix or balanced accuracy
2. I chose softmax for department classification because department classification was mutually exclusive i.e. every employee could be part of only one department . I chose sigmoid for attrition which is suitable for binary classification.
3. The model can be improved by removing co-linear feature columns, adjusting hyperparameters (adjusting batch size, epochs). Handling Class Imbalance using class weighting, SMOTE (Synthetic Minority Over-sampling Technique)  or deeper neural network models by adding more dense layers with more neurons.