<a href="https://colab.research.google.com/github/sowmyarshetty/neural-network-challenge-2/blob/main/attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 1: Preprocessing

In [92]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [93]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [94]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition','Department']]

In [95]:
# Create a list of at least 10 column names to use as X data
selected_columns = ['Age','Education','DistanceFromHome','JobSatisfaction','OverTime','StockOptionLevel','WorkLifeBalance','YearsAtCompany','YearsSinceLastPromotion','NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[selected_columns]


# Show the data types for X_df
X_df.dtypes

Age                         int64
Education                   int64
DistanceFromHome            int64
JobSatisfaction             int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
NumCompaniesWorked          int64
dtype: object

In [96]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_df['OverTime'].value_counts()
X_df['OverTime'] = X_df['OverTime'].replace({'Yes':1,'No':0})
X_df['OverTime'].value_counts()

<ipython-input-96-21050fb0a023>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_df['OverTime'] = X_df['OverTime'].replace({'Yes':1,'No':0})
<ipython-input-96-21050fb0a023>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_df['OverTime'] = X_df['OverTime'].replace({'Yes':1,'No':0})

OverTime
0    1054
1     416
Name: count, dtype: int64

In [97]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_df,y_df,random_state=42)

In [98]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train_scaled = scaler.fit_transform(X_train)

# Scale the training and testing data
X_test_scaled = scaler.transform(X_test)

In [99]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
ohedept = OneHotEncoder(sparse_output=False)
# Fit the encoder to the training data
# Create two new variables by applying the encoder
# to the training and testing data

y_train_dept_encoded = ohedept.fit_transform(y_train[['Department']])
dept_column_names = ohedept.get_feature_names_out(['Department'])
df_y_train_dept_encoded = pd.DataFrame(y_train_dept_encoded,columns=dept_column_names)
df_y_train_dept_encoded

y_test_dept_encoded = ohedept.transform(y_test[["Department"]])
df_y_test_dept_encoded = pd.DataFrame(y_test_dept_encoded,columns=dept_column_names)


print(df_y_train_dept_encoded.head())
print(df_y_test_dept_encoded.head())

   Department_Human Resources  Department_Research & Development  \
0                         0.0                                1.0
1                         0.0                                0.0
2                         0.0                                0.0
3                         0.0                                0.0
4                         0.0                                0.0

   Department_Sales
0               0.0
1               1.0
2               1.0
3               1.0
4               1.0
   Department_Human Resources  Department_Research & Development  \
0                         0.0                                0.0
1                         0.0                                1.0
2                         1.0                                0.0
3                         0.0                                1.0
4                         0.0                                1.0

   Department_Sales
0               1.0
1               0.0
2               0.0
3               0.0
4               0.0

In [100]:
# Create a OneHotEncoder for the Attrition column
oheattr = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_train_attr_encoded = oheattr.fit_transform(y_train[['Attrition']])
attr_column_names = oheattr.get_feature_names_out(['Attrition'])
df_y_train_attr_encoded = pd.DataFrame(y_train_attr_encoded,columns=attr_column_names)
# Create two new variables by applying the encoder
# to the training and testing data
y_test_attr_encoded = oheattr.transform(y_test[['Attrition']])
df_y_test_attr_encoded = pd.DataFrame(y_test_attr_encoded,columns= attr_column_names)

print(df_y_train_attr_encoded.head())
print(df_y_test_attr_encoded.head())

   Attrition_No  Attrition_Yes
0           1.0            0.0
1           1.0            0.0
2           1.0            0.0
3           1.0            0.0
4           1.0            0.0
   Attrition_No  Attrition_Yes
0           1.0            0.0
1           1.0            0.0
2           0.0            1.0
3           1.0            0.0
4           1.0            0.0

In [101]:
# # Concatenate the encoded columns to the original DataFrame
# y_processed = pd.concat([y_df,df_dept_encoded,df_attr_encoded],axis=1)
# #Drop the original columns
# y_processed.drop(['Department','Attrition'],axis=1)
# y_processed.head()

## Part 2: Create, Compile, and Train the Model

In [109]:
# Find the number of columns in the X training data.
input_shape = X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(input_shape,),name="input_features")

# Create at least two shared layers
shared_layer1 = layers.Dense(64,activation='relu')(input_layer)
shared_layer2 = layers.Dense(32,activation='relu')(shared_layer1)

In [103]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [104]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [105]:
# Create the model


# Compile the model


# Summarize the model

In [106]:
# Train the model

In [107]:
# Evaluate the model with the testing data

In [108]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1.
2.
3.